/* Overordnet container med Flexbox */
.container {
    display: flex;
    justify-content: flex-end; /* Placerer elementerne til højre */
    align-items: center; /* Centrerer elementerne vertikalt */
    height: 50vh; /* Gør containeren til at fylde hele højden af skærmen */
    padding: 10px;
  }
  
  .chart-container {
    width: 100px; /* Sætter bredden af pie-diagrammet */
    height: 100px; /* Sætter højden af pie-diagrammet */
  }
  
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
  