.container {
  display: flex;
  justify-content: center; /* Centrerer elementerne horisontalt */
  align-items: flex-start; /* Justerer elementerne mod toppen */
  height: 100vh; /* Fylder hele højden af skærmen */
  padding: 10px;
}

.chart-container {
  width: 400px; /* Bredden af pie-diagrammet */
  height: 400px; /* Højden af pie-diagrammet */
  padding-left: 50px; /* Ekstra afstand til venstre */
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.canvas-container {
  display: flex;
  justify-content: center; /* Centrerer elementerne horisontalt */
  align-items: flex-start; /* Justerer elementerne mod toppen */
  height: 50vh; /* Fylder halvdelen af skærmens højde */
  padding: 10px;
}
